In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
dt = pd.read_csv('data/train.csv')

In [3]:
dt.head()

,id,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_122,col_123,col_124,col_125,col_126,col_127,col_128,col_129,col_130,target
0,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
1,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
2,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
3,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
4,13,A,B,A,A,A,A,A,A,B,...,0.364464,0.401162,0.26847,0.46226,0.50556,0.366788,0.359249,0.345247,0.726792,5142.87

In [4]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169486 entries, 0 to 169485
Columns: 132 entries, id to target
dtypes: float64(15), int64(1), object(116)
memory usage: 170.7+ MB

In [5]:
dt.isnull().sum()

id         0
col_1      0
col_2      0
col_3      0
col_4      0
          ..
col_127    0
col_128    0
col_129    0
col_130    0
target     0
Length: 132, dtype: int64

In [6]:
t = dt[dt.columns.to_list()[1:-59]]

In [7]:
t.nunique()

col_1     2
col_2     2
col_3     2
col_4     2
col_5     2
         ..
col_68    2
col_69    2
col_70    2
col_71    2
col_72    2
Length: 72, dtype: int64

In [8]:
label = LabelEncoder()
for i in t:
    dt[i] = label.fit_transform(dt[i])

In [9]:
dt.head()

,id,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_122,col_123,col_124,col_125,col_126,col_127,col_128,col_129,col_130,target
0,2,0,1,0,0,0,0,0,0,1,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
1,5,0,1,0,0,1,0,0,0,1,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
2,10,1,1,0,1,0,0,0,0,1,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
3,11,0,1,0,1,0,0,0,0,1,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
4,13,0,1,0,0,0,0,0,0,1,...,0.364464,0.401162,0.26847,0.46226,0.50556,0.366788,0.359249,0.345247,0.726792,5142.87

In [10]:
r = dt[dt.columns.to_list()[73:-15]]

In [11]:
for i in r:
    dt[i] = label.fit_transform(dt[i])

In [12]:
dt

,id,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_122,col_123,col_124,col_125,col_126,col_127,col_128,col_129,col_130,target
0,2,0,1,0,0,0,0,0,0,1,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
1,5,0,1,0,0,1,0,0,0,1,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
2,10,1,1,0,1,0,0,0,0,1,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
3,11,0,1,0,1,0,0,0,0,1,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
4,13,0,1,0,0,0,0,0,0,1,...,0.364464,0.401162,0.26847,0.46226,0.50556,0.366788,0.359249,0.345247,0.726792,5142.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169481,587620,0,1,0,0,0,0,0,0,1,...,0.242437,0.289949,0.24564,0.30859,0.32935,0.223038,0.220003,0.333292,0.208216,1198.62
169482,587624,0,0,0,0,0,1,0,0,0,...,0.334270,0.382000,0.63475,0.40455,0.47779,0.307628,0.301921,0.318646,0.305872,1108.34
169483,587630,0,1,0,0,0,0,0,1,1,...,0.345883,0.370534,0.24564,0.45808,0.47779,0.445614,0.443374,0.339244,0.503888,5762.64
169484,587632,0,1,0,0,0,0,0,0,1,...,0.704364,0.562866,0.34987,0.44767,0.53881,0.863052,0.852865,0.654753,0.721707,1562.87
169485,587633,1,0,0,1,0,0,0,0,0,...,0.844563,0.533048,0.97123,0.93383,0.83814,0.932195,0.946432,0.810511,0.721460,4751.72

In [13]:
inputs = dt[dt.columns.to_list()[:-1]]
output = dt.target

In [14]:
inputs = dt.columns.tolist()[1:-1]

In [15]:
inputs

['col_1',
 'col_2',
 'col_3',
 'col_4',
 'col_5',
 'col_6',
 'col_7',
 'col_8',
 'col_9',
 'col_10',
 'col_11',
 'col_12',
 'col_13',
 'col_14',
 'col_15',
 'col_16',
 'col_17',
 'col_18',
 'col_19',
 'col_20',
 'col_21',
 'col_22',
 'col_23',
 'col_24',
 'col_25',
 'col_26',
 'col_27',
 'col_28',
 'col_29',
 'col_30',
 'col_31',
 'col_32',
 'col_33',
 'col_34',
 'col_35',
 'col_36',
 'col_37',
 'col_38',
 'col_39',
 'col_40',
 'col_41',
 'col_42',
 'col_43',
 'col_44',
 'col_45',
 'col_46',
 'col_47',
 'col_48',
 'col_49',
 'col_50',
 'col_51',
 'col_52',
 'col_53',
 'col_54',
 'col_55',
 'col_56',
 'col_57',
 'col_58',
 'col_59',
 'col_60',
 'col_61',
 'col_62',
 'col_63',
 'col_64',
 'col_65',
 'col_66',
 'col_67',
 'col_68',
 'col_69',
 'col_70',
 'col_71',
 'col_72',
 'col_73',
 'col_74',
 'col_75',
 'col_76',
 'col_77',
 'col_78',
 'col_79',
 'col_80',
 'col_81',
 'col_82',
 'col_83',
 'col_84',
 'col_85',
 'col_86',
 'col_87',
 'col_88',
 'col_89',
 'col_90',
 'col_91',
 'col_92',
 'col_93',
 'col_94',
 'col_95',
 'col_96',
 'col_97',
 'col_98',
 'col_99',
 'col_100',
 'col_101',
 'col_102',
 'col_103',
 'col_104',
 'col_105',
 'col_106',
 'col_107',
 'col_108',
 'col_109',
 'col_110',
 'col_111',
 'col_112',
 'col_113',
 'col_114',
 'col_115',
 'col_116',
 'col_117',
 'col_118',
 'col_119',
 'col_120',
 'col_121',
 'col_122',
 'col_123',
 'col_124',
 'col_125',
 'col_126',
 'col_127',
 'col_128',
 'col_129',
 'col_130']

In [16]:
standard = StandardScaler()

In [17]:
dt[inputs] = standard.fit_transform(dt[inputs])

In [18]:
output

0         1283.60
1         3005.09
2          939.85
3         2763.85
4         5142.87
           ...
169481    1198.62
169482    1108.34
169483    5762.64
169484    1562.87
169485    4751.72
Name: target, Length: 169486, dtype: float64

In [19]:
x= dt.iloc[:,1:-1]
y= dt['target']

In [20]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = .2)

In [21]:
model = RandomForestRegressor(n_jobs=-1)
model.fit(xtrain, ytrain)
model.score(x,y) * 100

85.24911297591525

In [22]:
ypred  = model.predict(x)

In [24]:
dt['predictions'] = ypred

/var/folders/mm/860dj7v16yz0c3_f_fc1dt080000gn/T/ipykernel_6746/2993751453.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dt['predictions'] = ypred

In [25]:
dt['difference'] = abs(dt['target'] - dt['predictions'])

/var/folders/mm/860dj7v16yz0c3_f_fc1dt080000gn/T/ipykernel_6746/3950965641.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dt['difference'] = abs(dt['target'] - dt['predictions'])

In [26]:
dt

,id,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_124,col_125,col_126,col_127,col_128,col_129,col_130,target,predictions,difference
0,2,-0.575120,1.142568,-0.241567,-0.682997,-0.723521,-0.655180,-0.158,-0.249803,1.225263,...,0.574137,-0.738791,-0.316475,-0.740002,-0.605819,0.556768,-0.860229,1283.60,2075.7116,792.1116
1,5,-0.575120,1.142568,-0.241567,-0.682997,1.382129,-0.655180,-0.158,-0.249803,1.225263,...,-1.069783,-1.237033,-0.933877,-0.534609,-0.571837,-1.397421,1.252160,3005.09,3377.4146,372.3246
2,10,1.738767,1.142568,-0.241567,1.464136,-0.723521,-0.655180,-0.158,-0.249803,1.225263,...,-0.845222,-0.903881,-0.286985,-0.789565,-0.819427,0.526900,0.479974,939.85,1017.0194,77.1694
3,11,-0.575120,1.142568,-0.241567,1.464136,-0.723521,-0.655180,-0.158,-0.249803,1.225263,...,-1.208051,-1.456510,-1.537449,-1.376999,-1.389325,-1.160965,-0.284358,2763.85,2916.6891,152.8391
4,13,-0.575120,1.142568,-0.241567,-0.682997,-0.723521,-0.655180,-0.158,-0.249803,1.225263,...,-1.093513,-0.127812,0.040685,-0.604256,-0.639519,-0.694486,1.038044,5142.87,5435.4572,292.5872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169481,587620,-0.575120,1.142568,-0.241567,-0.682997,-0.723521,-0.655180,-0.158,-0.249803,1.225263,...,-1.208051,-0.973737,-0.907562,-1.289519,-1.304383,-0.750683,-1.293019,1198.62,2514.5399,1315.9199
169482,587624,-0.575120,-0.875221,-0.241567,-0.682997,-0.723521,1.526299,-0.158,-0.249803,-0.816151,...,0.744113,-0.445495,-0.108755,-0.886274,-0.913245,-0.819529,-0.854043,1108.34,1232.6701,124.3301
169483,587630,-0.575120,1.142568,-0.241567,-0.682997,-0.723521,-0.655180,-0.158,4.003150,1.225263,...,-1.208051,-0.150822,-0.108755,-0.228489,-0.237844,-0.722704,0.036063,5762.64,5792.6441,30.0041
169484,587632,-0.575120,1.142568,-0.241567,-0.682997,-0.723521,-0.655180,-0.158,-0.249803,1.225263,...,-0.685129,-0.208127,0.219615,1.761458,1.717369,0.760413,1.015186,1562.87,2247.8730,685.0030
169485,587633,1.738767,-0.875221,-0.241567,1.464136,-0.723521,-0.655180,-0.158,-0.249803,-0.816151,...,2.432232,2.468096,1.830414,2.091066,2.164127,1.492586,1.014076,4751.72,4088.9457,662.7743